:root {
  --main-color: #2782b9;
  --second-color: #a0ba1f;
}

@font-face {
  src: url("../Tajawal/Tajawal-Medium.ttf");
  font-family: "Tajawal-Medium";
}

@font-face {
  src: url("../Tajawal/Tajawal-Regular.ttf");
  font-family: "Tajawal-Regular";
}

@font-face {
  src: url("../Tajawal/Tajawal-ExtraLight.ttf");
  font-family: "Tajawal-ExtraLight";
}

@font-face {
  src: url("../Tajawal/Tajawal-Light.ttf");
  font-family: "Tajawal-Light";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal-ExtraLight";
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* start header */
.navbar {
  margin-top: 20px;
}

.navbar .btn-menu {
  background: transparent;
  border: 0;
  padding: 0;
}

.navbar .bi-list {
  color: #fff;
  font-size: 1rem;
  padding: 4px;
}

.navbar .nav-link {
  font-size: 1.3rem;
  font-family: "Tajawal-Medium";
  color: #70716c;
}

.menu-nav {
  position: relative;
  z-index: 3;
}
 .btn-close {
   display: none;
 }
.navbar-light .navbar-nav .nav-link.active {
  color: var(--main-color);
}

.img-logo {
  width: 150px;
}

.title-section {
  margin: 50px 0;
  font-weight: bold;
  font-family: "Tajawal-Regular";
  position: relative;
}

.title-section::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background: var(--main-color);
  top: 10px;
  margin: 0 8px;
}

.title-section::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background: var(--main-color);
  top: 10px;
  margin: 0 -49px;
}

.form-search {
  width: 80%;
  background: #f6f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.form-search input {
  width: 100%;
  background: transparent;
  border: 0;
}

.form-search input:focus,
.form-search input:active {
  outline: none;
  border: 0;
}

.form-search button {
  border: 0;
  background: transparent;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-color);
}

.share-icon {
  margin-top: 10px;
  width: 80%;
}

.share-icon ul li i {
  font-size: 20px;
}

.share-icon i.fa-facebook {
  color: #1877F2;
}

.share-icon i.fa-twitter {
  color: #1DA1F2;
}

.share-icon i.fa-telegram {
  color: #1877F2;
}

.share-icon i.fa-whatsapp {
  color: #25D366;
}

.share-icon i.fa-snapchat {
  color: #ffcf2b;
}

.share-icon i.fa-instagram {
  color: #f24d57;
}

/* end header */




/*  start Latest-Jobs */
.Latest-Jobs {
  padding: 100px 0;
  background: #edf3f37a;
  overflow: hidden;
}

.Latest-Jobs .job-box {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0 10px;
  outline: none;
}

.Latest-Jobs .job-img {
  width: 100px;
  height: 82px;
  border-radius: 5px;
  padding: 15px;
  background: #f5f7fa;
  margin-left: 20px;
}

.Latest-Jobs .jobs-conetent a {
  outline: none;
  text-decoration: none;
  color: var(--main-color);
  font-family: "Tajawal-Medium";
}

.Latest-Jobs .jobs-conetent a h6 {
  margin-bottom: 0;
}

.Latest-Jobs .detail-job {
  margin-top: 10px;
}

.Latest-Jobs .detail-job .company p {
  color: #676666b0;
  margin-bottom: 0;
}

/*  end Latest-Jobs */

/* start  */
.btn-next {
  position: relative;
}

.find-more {
  background: var(--main-color);
  padding: 16px 35px;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  line-height: 1;
  transition: color .4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: color .4s linear;
  -moz-transition: color .4s linear;
  -ms-transition: color .4s linear;
  -o-transition: color .4s linear;
}

.find-more::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 102%;
  height: 102%;
  background: var(--second-color);
  z-index: 1;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
       -o-transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
          transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
  transform: scaleX(0);
  border-radius: 0;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.find-more:hover::before {
  color: #fff;
  transform: scaleX(1);
  z-index: -1;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

/*  end lest recent job */



/*  start style footer */
footer .footer-logo img {
  width: 14rem;
}

footer .footer-text p {
  font-size: 1.2rem;
}

footer .footer-link h4 {
  font-weight: 700;
}

footer ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Tajawal-Light";
}

footer .nav-link {
  color: var(--main-color);
}

footer .nav-link i {
  padding-left: 3px;
}

footer .nav-link span {
  padding: 0 3px;
}

footer .nav-link .fa-facebook {
  color: #1877F2;
}

footer .nav-link .fa-twitter {
  color: #1DA1F2;
}

footer .nav-link .fa-telegram {
  color: #1877F2;
}

footer .nav-link .fa-whatsapp {
  color: #25D366;
}

.copy-right hr {
  background: #ccc9c9;
}

.copy-right p {
  color: #ccc9c9;
  font-family: "Tajawal-Light";
}

.copy-right .design {
  font-size: 1rem;
}

/*  end style footer */

/* start style detail-job page */
.detail-jobs {
  padding: 100px 0;
}

.detail-jobs .single-job {
  padding: 25px;
  background: #f8f9fa;
}

.detail-jobs .job-img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.detail-jobs .jobs-conetent h6 {
  color: var(--main-color);
  font-family: "Tajawal-Medium";
}

.detail-jobs .company p {
  color: var(--second-color);
}

.detail-jobs hr {
  background: #c7c7c7;
}

.detail-jobs .social-share-buttons {
  background: #f8f9fa;
  padding: 1rem;
}


.social-share-container a {
  text-decoration: none;
}

.social-share-container i {
  opacity: 0;
  font-size: 28px;
  color: #1F1E1E;
  will-change: transform;
  -webkit-transform: scale(.1);
      -ms-transform: scale(.1);
          transform: scale(.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.social-share-container i.fa-facebook {
  color: #1877F2;
}

.social-share-container i.fa-twitter {
  color: #1DA1F2;
}

.social-share-container i.fa-telegram {
  color: #1877F2;
}

.social-share-container i.fa-whatsapp {
  color: #25D366;
}

.btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 240px;
  background-color: #EEEEED;
  border-radius: 80px;
  padding: 0 14px;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  margin: 0 auto;
}

.btn_wrap:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.btn_wrap .btn-share {
  position: absolute;
  z-index: 99;
  width: 240px;
  height: 72px;
  border-radius: 80px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: var(--main-color);
  font-family: "Tajawal-Medium";
  padding: 0 18px;
  transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.icon1 {
  -webkit-transition-delay: 1.1s;
  -o-transition-delay: 1.1s;
     transition-delay: 1.1s;
}

.icon2 {
  -webkit-transition-delay: .9s;
  -o-transition-delay: .9s;
     transition-delay: .9s;
}

.icon3 {
  -webkit-transition-delay: .7s;
  -o-transition-delay: .7s;
     transition-delay: .7s;
}

.icon4 {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
     transition-delay: .4s;
}

.btn_wrap:hover .btn-share {
  -webkit-transition-delay: .25s;
  -o-transition-delay: .25s;
     transition-delay: .25s;
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
  -moz-transform: translateX(-280px);
  -ms-transform: translateX(-280px);
  -o-transform: translateX(-280px);
}

.btn_wrap:hover .social-share-container i {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

.related-job h2 {
  color: var(--main-color);
  font-family: "Tajawal-Medium";

}

.related-job .job-entry-horzontal a{
border: 0;
}



/* end style detail-job page */

/*  start style page category */
.category {
  padding: 100px 0;
   /* background: #edf3f37a; */
}

.job-entry-horzontal {
    position: relative;
    margin-bottom: 15px;
    background: #fff;
    margin-top: 15px;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  background: #ff562f;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  width: 100px;
  display: block;
  -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
  position: absolute;
  top: 19px;
  font-weight: 600;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -21px;
  left: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.ribbon span:before {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon span:before {
  border-right: 3px solid #ff562f;
  border-top: 3px solid #ff562f;
}

.ribbon-two span {
  background: #ff9920;
}

.ribbon-three span {
  background: #00baff;
}

.ribbon-two span:before {
  border-right: 3px solid #ff9920;
  border-top: 3px solid #ff9920;
}

.ribbon-three span:before {
  border-right: 3px solid #00baff;
  border-top: 3px solid #00baff;
}

.ribbon span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.job-entry-horzontal a {
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0;
  top: 0;
  transition: .1s all ease;
  text-decoration: none;
  color: var(--main-color);
  border: 1px solid #e6e6e6;
  font-family: "Tajawal-ExtraLight";
  -webkit-transition: .1s all ease;
  -moz-transition: .1s all ease;
  -ms-transition: .1s all ease;
  -o-transition: .1s all ease;
}
.cat-company .job-entry-horzontal a {
  border: 0;
}
.section-border {
  margin: 15px;
  border: 1px solid #e6e6e6;
}

.job-entry-horzontal a .image {
  width: 200px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  display: table-cell;
  vertical-align: middle;
}

.job-entry-horzontal a .text {
  padding: 30px;
  width: calc(100 - 200px);
  display: table-cell;
  vertical-align: middle;
}

.job-entry-horzontal .job-meta span {
  font-family: "Tajawal-ExtraLight";
  margin-bottom: 10px;
  color: #8e8b8b7d;
  font-size: .8rem;
  font-weight: 700;
}

.job-meta h2 {
  font-family: "Tajawal-Medium";
}

.category .pagination {
  margin-top: 50px;
}

.category .page-item .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 0 3px;
  font-size: .8rem;
  font-family: "Tajawal-Medium";
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.cat-company {
  padding: 100px 0;
      background: #edf3f37a;
}

.cat-company .job-meta h6 {
  font-family: "Tajawal-Medium";
}

.title-job {
  margin-bottom: 15px;
}

.title-job h2 {
  position: relative;
  font-family: "Tajawal-Medium";
}

.title-job h2::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 16px;
  background: var(--main-color);
  margin: 0 10px;
}

/*  end style page category */

/*  start style page not found */
.not-found {
  padding: 100px 0;
  position: relative;
}

.not-found div {
  width: 100%;
  text-align: center;
  font-family: "Tajawal-ExtraLight";
}

.number {
  background: #fff;
  position: relative;
  font: 900 30vmin "Consolas";
  letter-spacing: 5vmin;
  text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f, 8px -4px 0 #141414, 10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f, 14px -7px 0 #242424, 16px -8px 0 #292929;
}

.number::before {
  background-color: var(--main-color);
  background-image: -o-radial-gradient(50% 50%, closest-side, var(--second-color) 100%, rgba(0, 0, 0, 0)), -o-radial-gradient(50% 50%, closest-side, var(--main-color) 100%, rgba(0, 0, 0, 0));
  background-image: radial-gradient(closest-side at 50% 50%, var(--second-color) 100%, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 50% 50%, var(--main-color) 100%, rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  background-size: 40vmin 40vmin;
  background-position: -100vmin 20vmin, 100vmin -25vmin;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  -webkit-animation: moving 10s linear infinite both;
  animation: moving 10s linear infinite both;
  display: block;
  position: absolute;
  content: "";
}

@-webkit-keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}

@keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}

.text {
  font: 400 5vmin "Courgette";
}

.text span {
  font-size: 10vmin;
}

/*  end style page not found */




/*  start preload */
.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  margin: 0 auto;
}

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-top-color: var(--main-color);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgb(35 181 185 / 15%);
  box-shadow: 0 1px 5px 0 rgb(35 181 185 / 15%);
  background-color: #fff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
}

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
}

/*  end preload */
/*  start media query */
@media (max-width:767px) {

  /* navbar */


  .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .title-section::after,
  .title-section::before {
    display: none;
  }
  .menu-nav {
    text-align: center;
    margin-top: 60px;
}
  .navbar-collapse {
      position: fixed;
      z-index: 33;
      top: 0;
      right: 0;
      width: 70%;
      height: 100vh;
      text-align: right;
      background: var(--main-color);
    
   
  }
  .navbar-light .navbar-nav .nav-link {
    color: #ffff;
    background: #4160728a;
    margin: 10px;
    border-radius: 15px;
}
 .navbar-light .navbar-nav .nav-link.active  {
   background: rgba(0, 0, 0, 0.418);
   color: #fff;
 }
 .btn-close {
   background: rgba(0, 0, 0, 0.418) !important;
   display: block;
       padding: 14px 0;
    width: 90%;
 }
  .btn-close:hover,
    .btn-close:focus,
      .btn-close:active,
      .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
  }

  /* end navbar */

  /* last job */
  .Latest-Jobs .job-img {
    margin-left: 0px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
    height: auto;
  }

  .share-icon ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .logo-sm {
    text-align: center;
  }

  .job-entry-horzontal a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .navbar .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* last job */
  /* search section */
  .share-icon,
  .form-search {
    width: 100%;
  }


  /* search section */

  /* page detail job*/
  .detail-jobs .job-img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* end page detail job */

  /* footer */
  .copy-right p {
    font-size: .8rem;
  }

  .copy-right .design {
    font-size: .6rem;
  }

  /* end footer */

  /*  page category */
  .category .job-entry-horzontal a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .category .page-item .page-link {
    padding: 17px;
    font-size: .7rem;
  }

  /*  end page category */

.Latest-Jobs .job-img {
  background: #fff;
}

.job-img {
  justify-content: center;
}




}

/*  end media  query */
