:root {
  --main-color: #2782b9;
  /* #25325f; */
  /* --second-color: #c9e538; */
  --second-color: #a0ba1f;
}

@font-face {
  src: url("../Tajawal/Tajawal-Medium.ttf");
  font-family: "Tajawal-Medium";
}

@font-face {
  src: url("../Tajawal/Tajawal-Regular.ttf");
  font-family: "Tajawal-Regular";
}

@font-face {
  src: url("../Tajawal/Tajawal-ExtraLight.ttf");
  font-family: "Tajawal-ExtraLight";
}

@font-face {
  src: url("../Tajawal/Tajawal-Light.ttf");
  font-family: "Tajawal-Light";
}

body {
  font-family: "Tajawal-ExtraLight";
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* start header */

.navbar .btn-menu {
  background: transparent;
  border: 0;
  padding: 0;
}

.navbar .bi-list {
  color: #fff;
  font-size: 1rem;
  padding: 4px;
}

.navbar .nav-link {
  font-size: 1.3rem;
  font-family: "Tajawal-Medium";
}

.menu-nav {
  position: relative;
  z-index: 3;
}

.submenu {
  position: absolute;
  width: 170px;
  background: var(--main-color);
  left: 0;
  top: 90%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 5%);
  padding: 17px 0;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.submenu li {
  padding: 10px;
}

.submenu li a {
  text-decoration: none;
  color: #fff;
  padding: 6px 10px !important;
  font-weight: 700;
  display: block;
  font-size: 16px;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  position: relative;
}

.submenu>li>a:hover {
  padding-right: 13px !important;
}

.menu-nav>li:hover>ul.submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--main-color);
}

.img-logo {
  width: 150px;
}

.title-section {
  margin: 50px 0;
  font-weight: bold;
  font-family: "Tajawal-Regular";
}

/* end header */


/*   start search section */
.search {
  background: radial-gradient(#c2c2c2 8%, transparent 8%), white;
  background-position: 0 0, 25px 25px;
  background-size: 25px 25px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.search-shape {
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.18, 1.17, 0.03, 1.46);
  animation-fill-mode: backwards;
  transform-origin: center;
  transform-box: fill-box;
}

.form-search {
  padding: 10px;
  background: white;
  box-shadow: 0 6px 29px 0 rgb(36 43 94 / 8%);

  border-radius: 6px;
}

.form-search input,
.form-select {
  border: 0;
}

.form-select:focus,
.form-control:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}

.btn-search {
  background-color: var(--main-color);
  color: white;
  padding: 20px 60px
}

.btn-search:hover {
  color: #fff;
  opacity: .8;
}

.search-header {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c9e5388c;
}

.search-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  will-change: transform;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.search-title {
  font-weight: bold;
  font-size: 4vw;
  margin: 0;
  color: #fff;
}

.search-title span {
  color: var(--main-color);
}

.bigSquare {
  animation-name: bigSquare;
}

@keyframes bigSquare {
  from {
    transform: translateY(10%) rotate(-80deg) scale(0);
    -webkit-transform: translateY(10%) rotate(-80deg) scale(0);
    -moz-transform: translateY(10%) rotate(-80deg) scale(0);
    -ms-transform: translateY(10%) rotate(-80deg) scale(0);
    -o-transform: translateY(10%) rotate(-80deg) scale(0);
  }

  to {
    transform: translateY(0) rotate(0deg) scale(1);
    -webkit-transform: translateY(0) rotate(0deg) scale(1);
    -moz-transform: translateY(0) rotate(0deg) scale(1);
    -ms-transform: translateY(0) rotate(0deg) scale(1);
    -o-transform: translateY(0) rotate(0deg) scale(1);
  }
}

.littleSquare {
  animation-name: littleSquare;
}

@keyframes littleSquare {
  from {
    transform: translate(226%, 183%) rotate(140deg) scale(0);
    -webkit-transform: translate(226%, 183%) rotate(140deg) scale(0);
    -moz-transform: translate(226%, 183%) rotate(140deg) scale(0);
    -ms-transform: translate(226%, 183%) rotate(140deg) scale(0);
    -o-transform: translate(226%, 183%) rotate(140deg) scale(0);
  }

  to {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
    -webkit-transform: translate(0%, 0%) rotate(0deg) scale(1);
    -moz-transform: translate(0%, 0%) rotate(0deg) scale(1);
    -ms-transform: translate(0%, 0%) rotate(0deg) scale(1);
    -o-transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
}

.triangle {
  animation-name: triangle;
}

@keyframes triangle {
  from {
    transform: rotate(-140deg) scale(0);
  }

  to {
    transform: rotate(0deg) scale(1);
  }
}

.hoop {
  animation-name: hoop;
}

@keyframes hoop {
  from {
    transform: translate(-160%, -33%) scale(0);
  }

  to {
    transform: translate(0%, 0%) scale(1);
  }
}

.bigCircle {
  animation-name: bigCircle;
}

@keyframes bigCircle {
  from {
    transform: scale(0) translate(60%, 3%);
  }

  to {
    transform: scale(1) translate(0%, 0%);
  }
}

.littleCircle {
  animation-name: littleCircle;
}

@keyframes littleCircle {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.search-shape :nth-child(1) {
  animation-delay: 0.16s;
}

.search-shape :nth-child(2) {
  animation-delay: 0.32s;
}

.search-shape :nth-child(3) {
  animation-delay: 0.48s;
}

.search-shape :nth-child(4) {
  animation-delay: 0.64s;
}

.search-shape :nth-child(5) {
  animation-delay: 0.8s;
}

.search-shape :nth-child(6) {
  animation-delay: 0.96s;
}

.search-shape :nth-child(7) {
  animation-delay: 1.12s;
}

.search-shape :nth-child(8) {
  animation-delay: 1.28s;
}

.search-shape :nth-child(9) {
  animation-delay: 1.44s;
}

.search-shape :nth-child(10) {
  animation-delay: 1.6s;
}

.search-shape :nth-child(11) {
  animation-delay: 1.76s;
}

/*   end search section */

/*  start Latest-Jobs */
.Latest-Jobs {
  padding: 100px 0;
  background: #edf3f37a;
  overflow: hidden;
}

.Latest-Jobs .job-box {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0 10px;
  outline: none;
}

.Latest-Jobs .job-img {
  width: 100px;
  height: 82px;
  border-radius: 5px;
  padding: 15px;
  background: #f5f7fa;
  margin-left: 20px;
}

.Latest-Jobs .jobs-conetent a {
  outline: none;
  text-decoration: none;
  color: var(--main-color);
  font-family: "Tajawal-Medium";
}

.Latest-Jobs .jobs-conetent a h6 {
  margin-bottom: 0;
}

.Latest-Jobs .detail-job {
  margin-top: 10px;
}

.Latest-Jobs .detail-job .company p {
  color: #676666b0;
  margin-bottom: 0;
}

/*  end Latest-Jobs */


/*  start lest recent job */
.recent-job {
  padding: 100px 0;
}

.card-job {
  margin-bottom: 30px;
}

.card-job .card-job-body {
  box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
  border: 1px solid transparent;
  padding: 30px 20px 25px 20px;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  border-radius: 5px;
}

.card-job:hover .card-job-body {
  border: 1px solid var(--second-color);
}

.card-job-body span {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 26px;
  margin-bottom: 40px;
  display: inline-block;
}

.color1 {
  color: var(--second-color);
  background: rgba(226, 238, 142, .26);
  font-family: "Tajawal-Light";
}

.color2 {
  color: var(--second-color);
  background: #c9e53852;
  font-family: "Tajawal-Light";
}

.color3 {
  color: var(--main-color);
  background: #25325f12;
  font-family: "Tajawal-Light";
}

.card-job-body h5 a {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 17px;
  text-decoration: none;
  display: block;
  transition: all .2s ease-out 0s;
  color: var(--main-color);
  -webkit-transition: all .2s ease-out 0s;
  -moz-transition: all .2s ease-out 0s;
  -ms-transition: all .2s ease-out 0s;
  -o-transition: all .2s ease-out 0s;
}

.card-job-body ul li {
  display: inline-block;
}

.card-job-body ul li p {
  color: #76787a;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
  margin-bottom: 23px;
}

/* .card-job-body ul li:first-child {
  margin-right: 20px;
} */

.card-job-body .left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-job-body .left img {
  width: 50px;
  height: 50px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card-job-body ul li p i {
  margin-left: 14px;
}

.card-job-body .time {
  padding: 0;
  color: #b6b9bc;
  font-size: 16px;
  background: none;
  font-weight: 400;
  margin: 0;
}

.card-job-body .time i {
  font-size: 13px;
}

.find-more {
  background: var(--main-color);
  padding: 16px 35px;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  line-height: 1;
  transition: color .4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: color .4s linear;
  -moz-transition: color .4s linear;
  -ms-transition: color .4s linear;
  -o-transition: color .4s linear;
}

.find-more::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 102%;
  height: 102%;
  background: var(--second-color);
  z-index: 1;
  transition: transform .5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
  transform: scaleX(0);
  border-radius: 0;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.find-more:hover::before {
  color: #fff;
  transform: scaleX(1);
  z-index: -1;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

/*  end lest recent job */



/*  start style footer */
footer .footer-logo img {
  width: 14rem;
}

footer .footer-text p {
  font-size: 1.2rem;
}

footer .footer-link h4 {
  font-weight: 700;
}

footer ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Tajawal-Light";
}

footer .nav-link {
  color: var(--main-color);
}

footer .nav-link i {
  padding-left: 3px;
}

footer .nav-link span {
  padding: 0 3px;
}

footer .nav-link .fa-facebook {
  color: #1877F2;
}

footer .nav-link .fa-twitter {
  color: #1DA1F2;
}

footer .nav-link .fa-telegram {
  color: #1877F2;
}

footer .nav-link .fa-whatsapp {
  color: #25D366;
}

.copy-right hr {
  background: #ccc9c9;
}

.copy-right p {
  color: #ccc9c9;
  font-family: "Tajawal-Light";
}

.copy-right .design {
  font-size: 1rem;
}

/*  end style footer */

/* start style detail-job page */
.detail-jobs {
  padding: 100px 0;
}

.detail-jobs .single-job {
  padding: 25px;
  background: #f8f9fa;
}

.detail-jobs .job-img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.detail-jobs .jobs-conetent h6 {
  color: var(--main-color);
  font-family: "Tajawal-Medium";
}

.detail-jobs .company p {
  color: var(--second-color);
}

.detail-jobs hr {
  background: #c7c7c7;
}

.detail-jobs .social-share-buttons {
  background: #f8f9fa;
  padding: 1rem;
}


.social-share-container a {
  text-decoration: none;
}

.social-share-container i {
  opacity: 0;
  font-size: 28px;
  color: #1F1E1E;
  will-change: transform;
  transform: scale(.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.social-share-container i.fa-facebook {
  color: #1877F2;
}

.social-share-container i.fa-twitter {
  color: #1DA1F2;
}

.social-share-container i.fa-telegram {
  color: #1877F2;
}

.social-share-container i.fa-whatsapp {
  color: #25D366;
}

.btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 240px;
  background-color: #EEEEED;
  border-radius: 80px;
  padding: 0 14px;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  margin: 0 auto;
}

.btn_wrap:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.btn_wrap .btn-share {
  position: absolute;
  z-index: 99;
  width: 240px;
  height: 72px;
  border-radius: 80px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: var(--main-color);
  font-family: "Tajawal-Medium";
  padding: 0 18px;
  transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.icon1 {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.icon2 {
  -webkit-transition-delay: .9s;
  transition-delay: .9s;
}

.icon3 {
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
}

.icon4 {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.btn_wrap:hover .btn-share {
  -webkit-transition-delay: .25s;
  transition-delay: .25s;
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px)
}

.btn_wrap:hover .social-share-container i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.related-job h4 {
  color: var(--main-color);
  font-family: "Tajawal-ExtraLight";

}

.related-job .relate {
  margin-top: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.related-job .relate a {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Tajawal-ExtraLight";
}

.related-job .relate:hover {
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.relate:hover.relate a {
  color: #fff;
}



/* end style detail-job page */

/*  start style page not found */
.not-found {
  padding: 100px 0;
  position: relative;
}

.not-found div {
  width: 100%;
  text-align: center;
  font-family: "Tajawal-ExtraLight";
}

.number {
  background: #fff;
  position: relative;
  font: 900 30vmin "Consolas";
  letter-spacing: 5vmin;
  text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f, 8px -4px 0 #141414, 10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f, 14px -7px 0 #242424, 16px -8px 0 #292929;
}

.number::before {
  background-color: var(--main-color);
  background-image: radial-gradient(closest-side at 50% 50%, var(--second-color) 100%, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 50% 50%, var(--main-color) 100%, rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  background-size: 40vmin 40vmin;
  background-position: -100vmin 20vmin, 100vmin -25vmin;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  -webkit-animation: moving 10s linear infinite both;
  animation: moving 10s linear infinite both;
  display: block;
  position: absolute;
  content: "";
}

@-webkit-keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}

@keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}

.text {
  font: 400 5vmin "Courgette";
}

.text span {
  font-size: 10vmin;
}

/*  end style page not found */




/*  start preload */
.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  transition: .6s;
  margin: 0 auto;
}

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-top-color: var(--main-color);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgb(35 181 185 / 15%);
  box-shadow: 0 1px 5px 0 rgb(35 181 185 / 15%);
  background-color: #fff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
}

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
}

/*  end preload */
/*  start media query */
@media (max-width:767px) {

  /* navbar */
  .submenu {
    position: relative;
    width: 100%;
    display: none;
  }

  .menu-nav>li:hover>ul.submenu {
    display: block;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  /* end navbar */

  /* last job */
  .Latest-Jobs .job-img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* last job */
  /* search section */
  .search-title {
    margin: 7rem 0 3.5rem 0;
    font-size: 2rem;
  }

  .search-header {
    align-items: start;
  }

  .form-search input {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  .form-search input,
  .form-select {
    margin: 0 0 1.5rem 0 !important;
  }

  /* search section */

  /* page detail job*/
  .detail-jobs .job-img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* end page detail job */

  /* footer */
  .copy-right p {
    font-size: .8rem;
  }

  .copy-right .design {
    font-size: .6rem;
  }

  /* end footer */

}

/*  end media  query */